body {
    background-color:antiquewhite
}

#connect {
    border-radius:500px;
    padding: 5px;
    margin-top:20px;
    margin-left: 5px;
}

.query-section {
    margin-top:50px;    
}

#query {
    width: 420px;
}

