html {
    background-color:white
}

.connection{
    margin-top:20px;
    /* margin-left: 30px; */
}

#network {
    margin-left: 6%;
    margin-bottom: 10px;
    border-radius:500px;
}

#summary {
    margin-top:50px;
    width: 60%;
}

.account-info {
    margin-left: 6%;
    /* width: 60%; */
}

.div-offset-large{
    position: relative;
    left:150px;
}

.div-offset-small{
    position:relative;
    /* left:50px; */
}

.text-offset {
    font-size: 0.8rem;
    position: relative;
    top:2px;
}

.offset-small {
    /* margin-left:20px */
}

.add-section {
    margin-left: 6%;
    margin-top:20px;
}

#account-to-add {
    width: 60%;
}

.select {
    width: 250px;
}

.charge-number {
    width: 250px;
}

.hide {
    display: none;
}